:root {
  --wite: #fff;
  --wite100: #e3e3e3;
  --wite200: #cbcbcb;

  --black: #000;
  --black100: #222222;

  --blue: #2383e8;

  --bg-light: var(--wite100);
  --bg-light-component: var(--wite);
  --border-component: var(--wite100);
  --border-component-hover: var(--wite200);
  --font-balck: var(--black100);
  --aditional: var(--blue)
}