.drop-item-enter {
  opacity: 0;
  padding: 0 0;
}
.drop-item-enter-active {
  opacity: 1;
  padding: 20px 0;
  transition: all 200ms linear;
}
.drop-item-exit {
  opacity: 1;
  padding: 20px 0;
  transition: all 200ms linear;
  height: auto;
}
.drop-item-exit-active {
  opacity: 0;
  padding: 0 0;
  height: 0;
}