.row {
  display: grid;
  width: 100%;
  background: var(--bg-component);
  padding: 20px 0;
  border-top: 1px solid var(--border-component);
  grid-template-columns: 10% 40% 15% 20% 15%;

  &:last-child {
    border-radius: 0 0 3px 3px;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--font);
    font-size: 18px;
    border-right: 1px solid var(--border-component);
    text-align: center;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
    hyphens: auto;

    &:last-child {
      border: none;
    }
  }
}

@media (max-width: 606px) {
  .row {
    grid-template-columns: 15% 30% 15% 20% 20%;
  }
}
