.row {
  width: 100%;
  border-top: 1px solid var(--border-component);
  background: var(--bg-light-component);
  display: grid;
  grid-template-columns: 10% 40% 15% 20% 15%;
  padding: 20px 0;

  p {
    border-right: 1px solid var(--border-component);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90px;
    font-size: 18px;
    color: var(--font-balck);

    &:last-child {
      border: none;
    }
  }
}