.row {
  width: 100%;
  border-top: 1px solid var(--border-component);
  background: var(--bg-light-component);
  display: grid;
  grid-template-columns: 10% 40% 15% 20% 15%;
  padding: 20px 0;
  &:last-child {
    border-radius:0 0 3px 3px;
  }
  p {
    border-right: 1px solid var(--border-component);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
    hyphens: auto;
    color: var(--font-balck);

    &:last-child {
      border: none;
    }
  }
}

@media (max-width: 606px) {
  .row {
    grid-template-columns: 15% 30% 15% 20% 20%;
  }
}