.drop-item-enter {
  padding: 0;
  opacity: 0%;
}

.drop-item-enter-active {
  padding: 20px 0;
  opacity: 100%;
  transition: all 200ms linear;
}

.drop-item-exit {
  height: auto;
  padding: 20px 0;
  opacity: 100%;
  transition: all 200ms linear;
}

.drop-item-exit-active {
  height: 0;
  padding: 0;
  opacity: 0%;
}
