.wrapper {
  width: 100%;
  background: var(--bg-component);
  margin-bottom: 20px;
  border-radius: 3px;

  .additionalInfo {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;

    .changes {
      color: var(--aditional);
      margin-top: 4px;
      font-size: 18px;
      font-weight: 600;
    }

    .changesIsToday {
      color: var(--font-color);
    }

    .date {
      margin-top: 4px;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .header {
    width: 100%;
    padding: 20px 0;
    font-size: 18px;
    text-align: start;
    cursor: pointer;

    &:hover {
      svg {
        fill: #737373 !important;
      }
    }

    .titleWrapper {
      display: grid;
      grid-template-columns: 10% 10% 30% 45% 5%;
      transition: grid-template-columns 0.2s linear;

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid var(--border-component);
        overflow: hidden;
        text-overflow: ellipsis;
        hyphens: auto;
        word-break: break-word;
        white-space: nowrap;
        text-align: center;

        span {
          color: var(--aditional);
          font-weight: 600;
        }

        &:nth-child(4n) {
          border-right: none;
        }
      }

      .openBtn {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
          height: 20px;
          width: 20px;

          svg {
            height: 20px;
            width: 20px;
            fill: #73737300;
            transition: all 0.2s ease;
          }
        }
      }
    }
  }
}

.headerOpen {
  background: var(--bg-component-hover);

  .header {
    font-weight: 500;
    border-radius: 3px 3px 0 0;

    .titleWrapper {
      grid-template-columns: 10% 40% 15% 20% 15% !important;

      p {
        border-right: 1px solid var(--border-component) !important;

        &:nth-child(5n) {
          border-right: none !important;
        }
      }
    }
  }
}

.headerAdditionalInfo {
  padding: 5px 0 20px !important;
}

.today {
  color: var(--bg-component);
  background: var(--aditional);

  &:hover {
    svg {
      fill: var(--bg-component) !important;
    }
  }
}

@media (max-width: 1024px) {
  .wrapper {
    p {
      font-size: 16px !important;
    }

    .header {
      .titleWrapper {
        grid-template-columns: 10% 10% 30% 50%;

        .openBtn {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 726px) {
  .wrapper {
    p {
      font-size: 14px !important;
    }

    .header {
      .titleWrapper {
        grid-template-columns: 10% 10% 29% 53%;

        p {
          white-space: unset;
        }

        .openBtn {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 606px) {
  .wrapper {
    .header {
      .titleWrapper {
        grid-template-columns: 15% 10% 31% 44%;
      }
    }
  }

  .headerOpen {
    .header {
      .titleWrapper {
        grid-template-columns: 15% 30% 15% 20% 20% !important;
      }
    }
  }
}
