.wrapper {

  margin-bottom: 20px;
  width: 100%;

  &:first-child {
    margin-top: 20px;
  }

  .header {
    width: 100%;
    padding: 20px 0;
    text-align: start;
    font-size: 18px;
    background: var(--bg-light-component);
    cursor: pointer;
    border-radius: 3px;

    &:hover {
      svg {
        fill: #737373 !important;
      }
    }

    .titleWrapper {
      display: grid;
      grid-template-columns: 10% 10% 30% 45% 5%;
      transition: grid-template-columns 0.2s linear;
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid var(--border-component);
        overflow: hidden;
        text-overflow: ellipsis;
        hyphens: auto;
        word-break: break-word;
        white-space: nowrap;
        text-align: center;
        &:nth-child(4n) {
          border-right: none  ;
        }
      }
      .openBtn {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
          width: 20px;
          height: 20px;

          svg {
            width: 20px;
            height: 20px;
            fill: #73737300;
            transition: all 0.2s ease;
          }
        }
      }
    }
  }
}

.header_open {

  .header {
    font-weight: 500;
    border-radius: 3px 3px 0 0;

    .titleWrapper {
      grid-template-columns: 10% 40% 15% 20% 15% !important;
      p {
        border-right: 1px solid var(--border-component) !important;
        &:nth-child(5n) {
          border-right: none  !important;
        }
      }
    }
  }
}

.today {

  .header {
    background: var(--aditional);
    color: #fff;

    &:hover {
      svg {
        fill: #fff !important;
      }
    }
  }
}

@media (max-width: 1024px) {
  .wrapper {
    p {
      font-size: 16px !important;
    }
    .header {
      .titleWrapper {
        grid-template-columns: 10% 10% 30% 50%;

        .openBtn {
          display: none;
        }
      }
    }

  }
}

@media (max-width: 726px) {
  .wrapper {
    p {
      font-size: 14px !important;
    }
    .header {
      .titleWrapper {
        grid-template-columns: 10% 10% 29% 53%;
        p {
          white-space: unset;
        }
        .openBtn {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 606px) {
  .wrapper {
    .header {
      .titleWrapper {
        grid-template-columns: 15% 10% 31% 44%;
      }
    }
  }

  .header_open {
    .header {
      .titleWrapper {
        grid-template-columns: 15% 30% 15% 20% 20% !important;
      }
    }
  }
}

