.wrapper {

  margin-bottom: 20px;
  width: 100%;

  &:first-child {
    margin-top: 20px;
  }

  .header {
    width: 100%;
    padding: 20px 0;
    text-align: start;
    font-size: 18px;
    line-height: 24px;
    background: var(--bg-light-component);
    cursor: pointer;

    &:hover {
      svg {
        fill: #737373 !important;
      }
    }

    .titleWrapper {
      display: grid;
      grid-template-columns: 10% 20% 25% 40% 5%;
      transition: all 0.2s linear;

      p {
        display: flex;
        justify-content: center;
        border-right: 1px solid var(--border-component);

        &:nth-child(4n) {
          border-right: none  ;
        }
      }
      .openBtn {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
          width: 20px;
          height: 20px;

          svg {
            width: 20px;
            height: 20px;
            fill: #73737300;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}

.header_open {

  .header {
    font-weight: 500;

    .titleWrapper {
      grid-template-columns: 10% 40% 15% 20% 15%;

      p {
        border-right: 1px solid var(--border-component) !important;
        &:nth-child(5n) {
          border-right: none  !important;
        }
      }
    }
  }
}

.today {

  .header {
    background: var(--aditional);
    color: #fff;

    &:hover {
      svg {
        fill: #fff !important;
      }
    }
  }
}