.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
  }

  .settings_list {
    width: 100%;

    .setting {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      font-size: 16px;
    }
  }
}

.input {
  width: 500px;
  margin-bottom: 25px;
}

@media (max-width: 726px) {
  .wrapper {
    h1 {
      font-size: 20px;
    }
    .settings_list {
      .setting {
        font-size: 14px;
      }
    }
  }
  .input {
    width: 400px;
  }
}
@media (max-width: 606px) {
  .input {
    width: 300px;
  }
}

@media (max-width: 375px) {
  .input {
    width: 280px;
  }
}