.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: var(--bg-light-component);

  .logo_wrapper {
    display: flex;
    cursor: pointer;

    svg {
      width: 50px;
      height: 50px;
      margin-right: 20px;
      transition: all 0.3s ease;
      animation: color_switch 3s ease infinite;
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: all 0.3s ease;


      h1 {
        font-size: 20px;
        font-weight: 600;
      }

      p {
        font-size: 18px;
        font-weight: 400;
      }
    }

    &:hover {
      .title {
        transform: translateX(-70px);
      }

      svg {
        transform: translateX(135px);
      }
    }
  }

  ul {
    display: flex;
    justify-content: space-between;

    li {
      position: relative;
      margin-right: 20px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 500;

      &::before {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
        height: 2px;
        background: var(--aditional);
        opacity: 0;
        transition: transform .4s, opacity .4s;
      }

      &:hover::before {
        transform: translateY(-.25rem);
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    .logo_wrapper {
      svg {
        height: 40px;
        width: 40px;
      }
      .title {
        h1 {
          font-size: 18px;
        }
        p {
          font-size: 16px;
        }
      }
    }
    ul {
      li {
        font-size: 16px;
      }
    }

  }
}

@media (max-width: 726px) {
  .header {
    .logo_wrapper {
      svg {
        height: 40px;
        width: 40px;
      }
      .title {
        h1 {
          font-size: 16px;
        }
        p {
          font-size: 16px;
        }
      }
      &:hover {
        .title {
          transform: none;
        }

        svg {
          transform: none;
        }
      }
    }
    ul {
      li {
        font-size: 16px;
      }
    }

  }
}
@media (max-width: 409px) {
  .header {
    .logo_wrapper {
      .title {
        display: none;
      }
    }
  }
}